.signup-container {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  font-weight: 100;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}

.form {
  max-width: 400px;
  margin: 0 auto;
}

p {
  color: #bf1650;
  font-size: 0.8rem;
}

p::before {
  display: inline;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 200;
}

input[type='submit'] {
  background: #ec5990;

  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

input[type='submit']:hover {
  background: #bf1650;
}

input[type='button']:active,
input[type='submit']:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type='button']:hover {
  transition: 0.3s all;
}

input[type='button'],
input[type='submit'] {
  -webkit-appearance: none;
}
